<footer class="pt-28 pb-16 mx-12 md:mx-auto">
  <div class="container mx-auto p-4">
    <div class="grid grid-cols-1 md:grid-cols-4 lg:grid-cols-6 gap-12">
      <div class="md:col-span-1 lg:col-span-2">
        <div class="flex items-center mb-6">
            <img src="<%= asset_path('svgs/sample logo.svg') %>" alt="XYZ" class="h-16 font-primary">
        </div>
        <p class="font-[500] mb-4 w-3/4">
            Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod
        </p>
        <div class="mt-12 relative w-3/4">
          <input type="email" placeholder="Email Address" class="w-3/4 py-3 px-4 pr-10 rounded-full border border-indigo-500 focus:outline-none focus:ring-1 focus:ring-indigo-600">
          <img src="<%= asset_path('svgs/Path 9712.svg') %>" alt="Search" class="h-2 -rotate-90 inline absolute top-1/2 transform -translate-y-1/2 -translate-x-8 text-indigo-500">
        </div>
      </div>

      <div>
        <h3 class="font-bold text-2xl mb-4">Menu</h3>
        <ul class="space-y-2 text-slate-500 font-[500]">
          <li>Shop All</li>
          <li>About Us</li>
          <li>Community</li>
          <li>FAQs</li>
        </ul>
      </div>
      
      <div>
        <h3 class="font-bold text-2xl mb-4">Support</h3>
        <ul class="space-y-2 text-slate-500 font-[500]">
          <li>Shipping & Returns</li>
          <li>Help & FAQ</li>
          <li>Terms & Conditions</li>
          <li>Privacy Policy</li>
          <li>Contact</li>
          <li>Login</li>
        </ul>
      </div>

      <div>
        <h3 class="font-bold text-2xl mb-4">Resources</h3>
        <ul class="space-y-2 text-slate-500 font-[500]">
          <li>Shipping & Returns</li>
          <li>Help & FAQ</li>
          <li>Terms & Conditions</li>
          <li>Privacy Policy</li>
          <li>Contact</li>
          <li>Login</li>
        </ul>
      </div>
    </div>

    <div class="mt-12 pt-6 flex flex-col md:flex-row justify-between items-center">
      <p class="text-lg font-[500] mb-4 md:mb-0">&copy; 2022 Brainly.</p>
      <div class="flex space-x-4">
        <div class="h-14 cursor-pointer aspect-square bg-indigo-100 hover:bg-indigo-200 rounded-full justify-center items-center flex">
            <img src="<%= asset_path('svgs/facebook (3).svg') %>" class="">
        </div>
        <div class="h-14 cursor-pointer aspect-square bg-indigo-100 hover:bg-indigo-200 rounded-full justify-center items-center flex">
            <img src="<%= asset_path('svgs/linkedin (1).svg') %>" class="">
        </div>
        <div class="h-14 cursor-pointer aspect-square bg-indigo-100 hover:bg-indigo-200 rounded-full justify-center items-center flex">
            <img src="<%= asset_path('svgs/Logo_00000038394049246713568260000012923108920998390947_.svg') %>" class="">
        </div>
      </div>
    </div>
  </div>
</footer>