<div class="mx-auto container p-3 sm:p-12 md:p-6 py-56 pb-56 mt-24 mb-64" id="reasons">
    <div class="mx-6 rg:mx-0">
        <p class="text-amber-400 ">LOREM IPSUM</p>
        <h1 class="text-slate-100 font-bold text-4xl mt-6 mb-16">3 Reasons To Shop With Us</h1>
        <div class="flex-row text-xl lg:text-2xl hidden md:flex">
            <%= render 'reason_detail', 
                asset_path: asset_path('svgs/package-box.svg'), 
                header: "All textbook rentals come with free return shipping.", 
                details: "Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore Stet clita kasd gubergren, no sea takimata." 
            %>
            <%= render 'reason_detail', 
                asset_path: asset_path('svgs/help.svg'),
                header: "Dedicated customer support and help portal.", 
                details: "Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore Stet clita kasd gubergren, no sea takimata.",
                wrapper: "hidden rg:block"
            %>
            <%= render 'reason_detail', 
                asset_path: asset_path('svgs/piggy-bank.svg'),
                header: "Buy or rent cheap textbooks & save up to $500 per year!", 
                details: "Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore Stet clita kasd gubergren, no sea takimata.",
                wrapper: "hidden rg:block"
            %>
        </div>
        <div class="flex flex-row md:hidden">
            <div class="carousel" id="reasons_carousel">
                <div class="carousel-item">
                    <%= render 'reason_detail', 
                        asset_path: asset_path('svgs/package-box.svg'), 
                        header: "All textbook rentals come with free return shipping.", 
                        details: "Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore Stet clita kasd gubergren, no sea takimata." 
                    %>
                </div>
                <div class="carousel-item">
                    <%= render 'reason_detail', 
                        asset_path: asset_path('svgs/help.svg'),
                        header: "Dedicated customer support and help portal.", 
                        details: "Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore Stet clita kasd gubergren, no sea takimata."
                    %>
                </div>
                <div class="carousel-item">
                    <%= render 'reason_detail', 
                        asset_path: asset_path('svgs/piggy-bank.svg'),
                        header: "Buy or rent cheap textbooks & save up to $500 per year!", 
                        details: "Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore Stet clita kasd gubergren, no sea takimata."
                    %>
                </div>
            </div>
            <button class="prev absolute left-6 top-[60%] transform -translate-y-1/2" onclick="moveSlide_reasons_carousel(-1)">
                <img src="<%= asset_path('svgs/Path 9712.svg') %>" alt="Previous" class="rotate-90 h-4">
            </button>
            <button class="next absolute right-6 top-[60%] transform -translate-y-1/2" onclick="moveSlide_reasons_carousel(1)">
                <img src="<%= asset_path('svgs/Path 9712.svg') %>" alt="Next" class="-rotate-90 h-4">
            </button>
        </div>
    </div>
</div>
